<app-header />
<div class="overflow-auto">
  <table class="table-auto border-collapse border border-gray-300 w-full text-left m-5">
    <thead>
      <tr>
        <th class="border border-gray-300 px-4 py-2 bg-gray-100 text-opacity-70">Name</th>
        <th class="border border-gray-300 px-4 py-2 bg-gray-100">Age</th>
        <th class="border border-gray-300 px-4 py-2 bg-gray-100">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr class="hover:bg-red-700">
        <td class="border border-gray-300 px-4 py-2">John Doe</td>
        <td class="border border-gray-300 px-4 py-2">25</td>
        <td class="border border-gray-300 px-4 py-2">johnexample.com</td>
      </tr>
        <tr class="hover:bg-yellow-400">
          <td class="border border-gray-300 px-4 py-2">Jane Smith</td>
          <td class="border border-gray-300 px-4 py-2">30</td>
          <td class="border border-gray-300 px-4 py-2">janeexample.com</td>
        </tr>
    </tbody>
  </table>
</div>
